@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
}

.log_entry {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-content: center;
    max-width: 480px;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.30);
}

.log_entry > div {
    padding: 1em;
}

.time {
    background: black;
    color: white;
}

.timestamp {
    display: none;
}

.log_entry > div > img {
    width: 100%;
    height: auto;
}

.form {
    font-size: 16px;
}
.form_fields {
    border: none;
    margin-left: 2px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

a {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
}

#popup {
    /*position: fixed;
    bottom: 15px;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40%;
    max-width: 180px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;*/
    position: absolute;
    /*bottom: 50px;*/
    top: 35%;
    left: 100px;
    background: #fff;
    min-width: 175px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

#popup.active {
    top: 30%;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}