@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
}

.log_entry {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: center;
    align-content: center;
    max-width: 480px;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.30);
}

.log_entry > div {
    padding: 1em;
}

.time {
    background: black;
    color: white;
}

.timestamp {
    display: none;
}

.log_entry > div > img {
    width: 100%;
    height: auto;
}